<%= form_for(@gunplatype) do |f| %>
  <% if @gunplatype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gunplatype.errors.count, "error") %> prohibited this gunplatype from being saved:</h2>

      <ul>
      <% @gunplatype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label :codiceinterno %><br />
    <%= f.text_field :codiceinterno %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
