# encoding:ISO-8859-1
<div class="bigBox">
	<h1 id="mostImportantProducts_Title"><%= title%></h1>
	<div>
	<%= image_tag(image)%>
	<p><%= description %></p>
	</div>
</div>
<div class="bigBox">
	<h1 id="mostImportantProducts_Title">Elenco prodotti</h1>
	<ul>
		<% unless gunplas == nil %>
		<% gunplas.each do |gunpla|%>
		<li>
			<a class="imageLink" href=""> <img border="0" alt="<%= gunpla['descrizione'] %>" src="http://www.starshopbs.com/files/Madhouse_Files/Foto/<%= gunpla['thumb'] %>"> </a>
			<h2><%= gunpla['descrizione'] %></h2>
			<dl>
				<dt>
					Cod. art. :
				</dt>
				<dd>
					<%= gunpla['codice'] %>
				</dd>
				<dt>
					Serie. :
				</dt>
				<dd>
					<%= gunpla['categoria'] %>
				</dd>
			</dl>
			<span class="availability"><strong>Disponibilit&agrave; :</strong>&nbsp;
			<% (gunpla['quantita'] > 0 ) ? ( %>
			<span class="fullAV" style="background: url(&quot;ReadySkins/Skin12/images/ico_availability_fullAV.gif&quot;) no-repeat scroll 0% 0% transparent; padding: 1px 0pt 2px 20px;"> Immediata
			<% ) : ( %>
			<span class="noAV" style="background: url(&quot;ReadySkins/Skin12/images/ico_availability_noAV.gif&quot;) no-repeat scroll 0% 0% transparent; padding: 1px 0pt 2px 20px;"> Non Disponibile
			<% ) %>
			<h3 class="mainPrice"><%= number_with_precision(gunpla['prezzo'], :precision => 2) %> &euro;</h3>
			<span style="display: block; clear: both; line-height: 0pt;">&nbsp;</span>
		</li>
		<% end %>
	</ul>
	<% end %>
</div>
