<div id=container>
	<div id="perfect grade">
		<%= image_tag("pg.jpg")%>
		<table>
			<%= render :partial => "gunpla", :locals => { :gunplas => @gunplapg } %>
		</table>
	</div>
	<div id="master grade">
		<%= image_tag("mg.jpg")%>
		<table>
			<%= render :partial => "gunpla", :locals => { :gunplas => @gunplamg } %>
		</table>
	</div>
	<div id="high grade">
		<%= image_tag("hg.jpg")%>
		<table>
			<%= render :partial => "gunpla", :locals => { :gunplas => @gunplahg } %>
		</table>
	</div>
	<div id="hgaw">
		<%= image_tag("hgaw.jpg")%>
		<table>
			<%= render :partial => "gunpla", :locals => { :gunplas => @gunplahgaw } %>
		</table>
	</div>
	<div id="hgfc">
		<%= image_tag("hgfc.jpg")%>
		<table>
			<%= render :partial => "gunpla", :locals => { :gunplas => @gunplahgfc } %>
		</table>
	</div>
	<div id="rg">
		<%= image_tag("rg.jpg")%>
		<table>
			<%= render :partial => "gunpla", :locals => { :gunplas => @gunplarg } %>
		</table>
	</div>
	<div id="tool">
		<%= image_tag("tools.jpg")%>
		<table>
			<%= render :partial => "gunpla", :locals => { :gunplas => @gunplatool } %>
		</table>
	</div>
</div>
