<div id=gundam>
	<div id="high grade">
		<%= image_tag("hg.jpg")%>
		<table>
			<% @gunplahg.each do |gunpla|%>
			<tr>
				<td><%= image_tag("http://www.starshopbs.com/files/Madhouse_Files/Foto/#{gunpla.last}", :height => 100) %></td>
				<td><%= link_to(gunpla[10],"http://www.starshopbs.com/#{format_url(gunpla[13])}_#{format_url(gunpla[10])}.1.#{gunpla[42].strip}.#{gunpla[12]}.gp.#{gunpla[4]}.-1.uw.aspx") %></td>
				<td><%= gunpla[11] %></td>
				<td><%= gunpla[13] %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<div id="master grade">
		<%= image_tag("mg.jpg")%>
	</div>
	<div id="perfect grade">
		<%= image_tag("pg.jpg")%>
	</div>
</div>
