<%= semantic_form_for @gunpla do |form| %>
<% if @gunpla.errors.any? %>
<div id="errorExplanation">
	<h2><%= pluralize(@gunpla.errors.count, "error") %> prohibited this post from being saved:</h2>
	<ul>
		<% @gunpla.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div id ="gunpla-details">
	<%= form.inputs "Basic", :id => "basic" do %>
	<%= form.input :code %>
	<%= form.input :description %>
	<%= form.input :publicprice %>
	<% end %>
	<%= form.inputs :name => "Advanced Options", :id => "advanced" do %>
	<%= form.input :longdescription,       :input_html => { :class => 'autogrow', :rows => 10, :cols => 60} %>
	<%= form.input :categories,  :as => :select,      :collection => Category.find(:all) %>
	<%= form.input :jancode %>
	<%= form.input :export %>
	<% end %>
	<%= form.buttons do %>
	<%= form.commit_button %>
	<% end %>
</div>
<% end %>
<div id='images'>
	<h3>Immagini associate</h3>
	<div id="addimages">
		<%= form_tag("/getnewimage", :method => "get") do %>
		<%= label_tag(:url, "Url:") %>
		<%= text_field_tag(:url) %>
		<%= hidden_field_tag(:gunplaid, @gunpla.id) %>
		<%= submit_tag("Search", :class => 'getimage') %>
		<% end %>
	</div>
	<% @gunpla.images.each do |image|%>
	<div class="imagebox">
		<%= image_tag(image.name, :class => "thumb")%>
		<%= button_to "X", { :action => "deleteimage", :imageid => image.id, :gunplaid => @gunpla.id }, :confirm => "Confermare la cancellazione?", :method => :delete %>
	</div>
	
	<% end %>
</div>
