<div id="datahlj">
<ul>
<li><span class="grey">Codice prodotto: </span>	<%= link_to(@gunpla.datahlj.code,"http://www.hlj.com/product/#{@gunpla.datahlj.code}")%></li>
<li><span class="grey">Description: </span><%= @gunpla.datahlj.description %> </li>
<li><span class="grey">Type: </span><%= @gunpla.datahlj.producttype %> </li>
<li><span class="grey">Serie:</span> <%= @gunpla.datahlj.productseriestitle %></li>
<li><span class="grey">JanCode:</span> <%= @gunpla.datahlj.jancode %></li>
<li><span class="grey">Long Description: </span><%= @gunpla.datahlj.longdescription %> </li>
<li><%= image_tag(@gunpla.datahlj.image) %> </li>
</ul>
</div>
