Gunpla - Elenco prodotti da esportare</h1>

<table id="box-table-a">
	<!-- Table header -->  
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col">Codice</th>
			<th scope="col">Descrizione</th>
			<th scope="col">Prezzo al pubblico</th>
			<th scope="col">Jan Code</th>
		</tr>
	</thead>
	
	<!-- Table body --> 
	<tbody>
	<% if @gunplas.length > 0 %>
	<% @gunplas.each do |gunpla| %>
		<tr class='<%= if gunpla.export == true then "selected" 
		else "unselected" end %>'>
			<td><%= link_to 'Show', gunpla %></td>
			<td><%= (gunpla.images.first == nil) ? () : image_tag(gunpla.images.first.localpath, :height => '128', :width => '128') %></td>
			<td><%= gunpla.code %></td>
			<td><%= gunpla.description %></td>
			<td><%= gunpla.publicprice %></td>
			<td><%= gunpla.jancode %></td>
			<td><%= (gunpla.export == true) ? ("Selezionato per export") : () %></td>
	
		</tr>
	<% end %>
	<% else %>
		<tr>
			<td>Elenco vuoto! Nessun Gundam memorizzato</td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= form_tag(exportCVS_path, :method => "get") do %>
  <%= submit_tag("Export") %>
<% end %>
