<%= form_tag(getgunplascalas_path, :method => "post") do %>
  <%= label_tag(:string, "Importa da ready pro (attenzione - tutte le scale)") %>
  <%= submit_tag("Importa") %>
<% end %>

<table id="box-table-a">
	<thead>
		<tr>
			<th scope="col">Nome tipologia</th>
			<th scope="col">Codice  ready</th>
		</tr>
	</thead>
	<% @gunplascalas.each do |gunplascala| %>
	<tr>
		<td><%= gunplascala.name %></td>
		<td><%= gunplascala.codiceready %></td>
	</tr>
	<% end %>
</table>

