<h1>Gunpla - Elenco prodotti</h1>

<%= link_to 'New Gunpla', new_gunpla_path %>
<table id="box-table-a">
	<!-- Table header -->  
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col">CODICE</th>
			<th scope="col">Descrizione</th>
			<th scope="col">Prezzo al pubblico</th>
			<th scope="col">Jan Code</th>
		</tr>
	</thead>
	
	<!-- Table body --> 
	<tbody>
	<% if @gunplas.length > 0 %>
	<% @gunplas.each do |gunpla| %>
		<tr class='<%= if gunpla.export == true then "selected" 
		else "unselected" end %>'>
			<td><%= link_to 'Show', gunpla %></td>
			<td><%= link_to 'Destroy', gunpla, confirm: 'Are you sure?', method: :delete %></td>
			<td><%= (gunpla.images.first == nil) ? () : image_tag(gunpla.images.first.name, :class => "thumb") %></td>
			<td><%= gunpla.code %></td>
			<td><%= gunpla.description %></td>
			<td><%= gunpla.publicprice %></td>
			<td><%= gunpla.jancode %></td>
			<td><%= (gunpla.categories.first == nil) ? () : gunpla.categories.first.name %></td>
			<td><%= (gunpla.export == true) ? ("Selezionato per export") : () %></td>
	
		</tr>
	<% end %>
	<% else %>
		<tr>
			<td>Elenco vuoto! Nessun Gundam memorizzato</td>
		</tr>
	<% end %>
	</tbody>
</table>

