<div id="baseData">
<p class="notice"><%= notice %></p>
Caratteristiche anagrafica interna (Starshop Brescia)
<%= render "basedata"%>
</div>

<div id="datacosmic">
<%= if @gunpla.datacosmic != nil then render "datacosmic" end %>
</div>

Hlj Data

<%= form_tag("/getHljData", :method => "get", :remote => true) do %>
	  <%= label_tag(:code, "Codice HLJ:") %>
 	  <%= text_field_tag(:code, @gunpla.code) %>
 	  <%= hidden_field_tag(:gunplaid, @gunpla.id) %>
      <%= submit_tag("Search", :class => 'hlj') %>
<% end %>

<div id="datahlj">
<%= if @gunpla.datahlj != nil then render "datahlj" end %>
</div>	

Ready Data
<%= link_to "recupera da Ready Pro", "/getReadyData?&id=#{@gunpla.id}", :class=>'ready', :remote => true%>
<div id="dataready">
<%= render "dataready" %>
</div>

