<table id="box-table-a">
<!-- Table header -->  
	<thead>
		<tr>
			<th scope="col">Codice Prodotto</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tr>
		<td><%= @gunpla.code %></td>
		<td><%= @gunpla.description %></td>
		<td><%= @gunpla.jancode %></td>
		<td><%= @gunpla.publicprice %></td>
		<td><%= @gunpla.id %></td>
	</tr>

</table>