<h2>Gunpla - Elenco prodotti</h1>
<%= @status %>
<table id="box-table-a">
	<tr>
		<td>Codice Prodotto</td>
		<td>descrizioneHlj</td>
		<td>janCode</td>
	</tr>
	<tr>
		<td><%= @gunpla.codiceProdotto %></td>
		<td><%= @gunpla.descrizioneHlj %></td>
		<td><%= @gunpla.janCode %></td>
		<td><%= @gunpla.codice1999 %></td>
	</tr>
</table>
