<div id="baseData">
Caratteristiche anagrafica interna (Starshop Brescia)
<table id="box-table-a">
<!-- Table header -->  
	<thead>
		<tr>
			<th scope="col">Codice Prodotto</th>
		</tr>
	</thead>
	<tr>
		<td><%= @gunpla.codiceProdotto %></td>
		<td><%= @gunpla.descrizioneHlj %></td>
		<td><%= @gunpla.janCode %></td>
	</tr>

</table>

</div>
<div id="1999Data">
Caratteristiche estratte da 1999
</div>
<div id="HlJData">
Caratteristiche estratte Hobby Link Japan
</div>
<table>
	<tr>
		<td>Codice Prodotto</td>
		<td>descrizioneHlj</td>
	</tr>
	<tr>
		<td><%= @gunpla.codiceProdotto %></td>
		<td><%= @gunpla.descrizioneHlj %></td>
		<td><%= @gunpla.janCode %></td>
	</tr>
	<tr>
		<td>
		<%= form_tag(getHljData_path, :method => "get") do %>
			<%= hidden_field_tag(:id, @gunpla.id) %>
			<%= submit_tag("Aggiorna Hlj data") %>
		<% end %>
		<td>
	</tr>
	<tr>
		<td>
		<%= form_tag(get1999Data_path, :method => "get") do %>
			<%= label_tag(:q, "Codice 1999 - opzionale") %>
			<%= text_field_tag(:q)  %>
			<%= hidden_field_tag(:id, @gunpla.id) %>
			<%= submit_tag("Aggiorna 1999 data") %>
		<% end %>
		</td>
	</tr>
</table>

