<div id="baseData">
<p class="notice"><%= notice %></p>
Caratteristiche anagrafica interna (Starshop Brescia)
<%= render "basedata"%>
</div>
Cosmic Data
<table id="box-table-a">
<!-- Table header -->  
	<thead>
		<tr>
			<th scope="col">Codice Prodotto</th>
			<th scope="col">Descrizione</th>
			<th scope="col">Jan Code</th>
			<th scope="col">Prezzo al rivenditore</th>
			<th scope="col">Prezzo al pubblico </th>
		</tr>
	</thead>
	<tr>
		<td><%= @gunpla.datacosmic.code %></td>
		<td><%= @gunpla.datacosmic.description %></td>
		<td><%= @gunpla.datacosmic.jancode %></td>
		<td><%= @gunpla.datacosmic.wholesaleprice %></td>
		<td><%= @gunpla.datacosmic.publicprice %></td>
	</tr>

</table>

Hlj Data
<%= link_to "recupera da Hlj", "/getHljData?&id=#{@gunpla.id}", :class=>'hlj', :remote => true%>
<div id="datahlj">
<%= if @gunpla.datahlj != nil then render "datahlj" end %>
</div>	

Ready Data
<%= link_to "recupera da Ready Pro", "/getReadyData?&id=#{@gunpla.id}", :class=>'ready', :remote => true%>
<div id="dataready">
<%= render "dataready" %>
</div>

