<!DOCTYPE html>
<html>
<head>
  <title>Gundam Model Kits - Gunpla</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery-ui-1.8.14.custom.min" %>
  <%= stylesheet_link_tag("jquery-ui-1.8.14.custom") %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
	<div id="banner">
		<%= @page_title || "Gunpla List" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><%= link_to "Elenco completo", index_path %></li>
				<li><%= link_to "Importa da CSV", cosmicimport_path %></li>
				<li><%= link_to "Esporta ", '#' %></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
