<!DOCTYPE html>
<html>
<head>
  <title>Gundam Model Kits - Gunpla</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
	<div id="banner">
		<%= @page_title || "Gunpla List" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><%= link_to "Elenco completo", gunplas_path %></li>
				<li><%= link_to "Importa da CSV", cosmicimport_path %></li>
				<li><%= link_to "Esporta ", export_path %></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
